$primary-color-1: #2b1611;
$primary-color-2: #441d12;
$primary-color-3: #592716;
$primary-color-4: #7c3118;
$primary-color-5: #aa3e19;
$primary-color-6: #d84a1b;
$primary-color-7: #e87040;
$primary-color-8: #f3956a;
$primary-color-9: #f8b692;
$primary-color-10: #fad4bc;

$gray-color-1: #ffffff;
$gray-color-2: #fafafa;
$gray-color-3: #f5f5f5;
$gray-color-4: #f0f0f0;
$gray-color-5: #d9d9d9;
$gray-color-6: #bfbfbf;
$gray-color-7: #8c8c8c;
$gray-color-8: #595959;
$gray-color-9: #434343;
$gray-color-10: #262626;
$gray-color-11: #1f1f1f;
$gray-color-12: #141414;
$gray-color-13: #000000;
